@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    width: 98%;
    height: 100%;
    background-color: #f4f0ec;
    color: black;
    font-family: Comic Sans MS, sans-serif;
    font-size: 1em;
    line-height: 135%;
}

a{
    color: gray;
    text-decoration: none;
    transition: ease;
    -moz-transition: ease;
    -webkit-transition: ease;
    -ms-transition: ease;
}

hr{
    background-color: rgb(177, 99, 99);
    height: 3px;
    border: none;
}

h2{
    text-align: center;
}

a:hover{
    color: rgb(102, 101, 101);
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}

::selection{background: gray; color: #f4f0ec;}
::-moz-selection{background: #d17575; color: #f4f0ec;}
::-webkit-selection{background: #d17575; color: #f4f0ec;}
::-ms-selection{background: #d17575; color: #f4f0ec;}

a:active{
    color: gray;
}

img{
    width: auto;
    height: auto;
}

header, footer{
    width: 100%;
    background-color: #e78282;
    height: 100vw;
    float: left;
}

header{
    border-bottom: 4px solid rgb(177, 99, 99);
    padding: 1%;
}

footer{
    border-top: 4px solid rgb(177, 99, 99);
    margin-top: 40px;
    padding: 1%;
}

#logo{
    font-size: 7vw;
    font-weight: bold;
    color: #fff;
    font-family: Comic Sans MS, sans-serif;
    text-align: center;
    margin-top: 20px;
    display: block;
}

#copyright{
    font-size: 1.5em;
    color: #fff;
    font-family: Comic Sans MS, sans-serif;
    text-align: center;
    display: block;
}

#pagewrap:after{
    content: "";
    display: block;
}

footer, #pagewrap:after{
    height: 20vw;
}

#pagewrap{
    height: 90%;
    margin-bottom: -10px;
}

#maintitle{
    color: rgb(58, 49, 49);
    font-family: Comic Sans MS, sans-serif;
    font-size: 1.5em;
    width: 100%;
}

#wrapper{
    float: left;
    width: 100%;
}

#wrapper #articles{
    float: left;
    width: 80%;
    margin-left: 14%;
}

#wrapper #articles article{
    float: left;
    width: 29.33333333333333333333333333333333333%;
    border: 3px solid #d17575;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 2%;
}

#wrapper #articles article img{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    margin-top: -5px;
    margin-bottom: 0px;
}

#wrapper #articles article h2{
    width: 100%;
    height: 150%;
    color: #fff;
    font-family: Comic Sans MS, sans-serif;
    margin-top:0px;
    margin-bottom: 0px;
    background-color: #e78282;
}

.clear{
    clear: both;
}
