.text {
    text-align: center;
    font-family: Comic Sans MS;
   }

.text-White{
    color: white;
}

.body {
    background: #f4f0ec;
   }

.text-Little{
    color: grey;
    font-size: 1px;
    }
